<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex,nofollow">
    <link rel="stylesheet" href="../css/experiencia.css">
    <title>CV - Curriculum Vitae</title>
  </head>
  <body>
    <header>
        <img src="../img/CV.svg" alt="JL Ramirez" width="200px">
        <h1>Curriculum Vitae</h1>
        <h2>Jos&eacute; Luis Ram&iacute;rez</h2>
        <h3>18 / Abril / 1993 - Medellin <small>(Colombia)</small></h3>
    </header>
    <nav>
      <ul>
        <li><a href="../index.html">Inicio</a></li>
        <li><a href="educacion.html">Educaci&oacute;n</a></li>
        <li><a href="experiencia.html">Experiencia</a></li>
      </ul>
    </nav>
    <article class="fill">
      <h2>Experiencia</h2>
      <hr>
      <!--
      Debido al poco tiempo para poder realizar las actividades no se puede
      cumplir el requerimiento de grabar el video y audio con el contenido
      solicitado; no obstante, se muestra que se ha adquirido el conocimiento
      del manejo de las equetas <video><audio>
      -->
      <section>
        <h3>Actividades</h3>
        <video controls autoplay poster="../img/banned.svg" height="300px">
          <source src="../media/video.mp4" type="video/mp4">
          <source src="../media/video.webm" type="video/webm">
            No se puede mostrar el video
        </video>
      </section>
      <hr>
      <section>
        <h3>Hobbies</h3>
        <audio src="../media/audio.mp3" controls>
          No se puede reproducir el audio
        </audio>
      </section>
    </article>
    <footer>
      <h3>Contacto</h3>
      <label for="correo"><b>Correo:</b> </label><a href="mailto:sid.josep@gmail.com?Subject=BienvenidoNextU"><em>sid.josep@gmail.com</em></a><br/>
      <label for="telefono"><b>Tel&eacute;fono:</b> </label><em>300 8695 4XX</em>
    </footer>
  </body>
</html>
